/* -----------------footer--------------------- */
footer {
    background-color: $secundario;
    width: 100%;

    /*--secion 3 envios--*/
    .section3 {
        height: 450px;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        .envios {
            background-image: url(/fotos/carretera2.gif);
            background-position: top;
            background-size: contain;
            border-radius: 5px;

            .camionVenta {
                color: $secundario;
                font-size: 120px;
            }
        }

        .h4Envios {
            font: {
                size: 14px;
                family: 'Poppins', sans-serif;
            }

            text-align: center;
            color: $bg;
        }

        .parrafo-envios {
            color: $bg;
            text-align: center;
        }

        .tarjetas {
            display: flex;
            justify-content: center;

            i {
                color: $bg;
                font-size: 35px;
                text-align: center;
                padding: 0 10px;
            }
        }

        .banco-provincia {
            font-family: 'Poppins', sans-serif;
            color: $bg;
            text-align: center;
            font-size: 18px;
            margin-top: 8px;
        }
    }
}