/* -----------------footer--------------------- */
footer {
    background-color: $secundario;
    width: 100%;
    height: auto;

    /*--secion 3 envios--*/
    .section3 {
        height: auto;
        width: 100%;

        .envios {
            background: {
                image: url(../fotos/carretera2.jpg);
                size: contain;
                position: top;
            }

            .camionVenta {
                color: $secundario;
                font-size: 100px;
            }
        }

        .h4Envios {
            color: $colorprincipal;

            font: {
                size: 18px;
                family: 'Poppins', sans-serif;
            }

            text: {
                align: center;
                decoration: underline;
            }
        }

        .parrafo-envios {
            color: $bg;
            text-align: center;
            font-size: 14px;
        }

        .tarjetas {
            display: flex;
            justify-content: center;

            i {
                color: $bg;
                font-size: 30px;
                text-align: center;
                padding: 0 10px;
            }
        }

        .banco-provincia {
            font-family: 'Poppins', sans-serif;
            color: $bg;
            text-align: center;
            font-size: 16px;
            margin-top: 8px;
        }
    }

    .redsocial {
        width: 300px;
        display: flex;
        justify-content: space-around;
        margin: 0 auto 15px;

        .red-link {
            text-decoration: none;
            font-size: 26px;
            width: 35px;
            height: auto;
            line-height: 35px;
            text-align: center;
            background: $white;
            border-radius: 50%;
            color: $secundario;
            transition: all .4s ease-in-out;
        }

        .facebook:hover {
            color: $white;
            background: linear-gradient(90deg, rgba(43, 32, 219, 0.9332107843137255) 0%, rgba(71, 146, 236, 1) 45%, rgba(0, 134, 255, 0.8995973389355743) 100%);
            transform: scale(1.2);
        }

        .instagram:hover {
            color: $white;
            background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
            transform: scale(1.2);
        }

        .whatsapp:hover {
            color: $white;
            background: radial-gradient(circle, rgba(43, 111, 43, 1) 0%, rgba(15, 196, 48, 1) 50%, rgba(180, 252, 69, 1) 100%);
            transform: scale(1.2);
        }
    }


    .copyright {
        color: $white;
        text-align: center;
    }

}