.contenedor-carousel {
    background-color: $secundario;
    width: 100%;
    border-radius: 5px;
}

/* -----------------inicia carrousel----------------------- */
.carousel {

    .carousel-indicators {

        li {
            border-radius: 100%;
            width: 10px;
            height: 10px;
        }
    }
}

/* -----------------finaliza carrousel----------------------- */

/*---inicio--section1--section2--*/
.section1 {
    background-color: $secundario;
    border-radius: 5px;

    .card-group {
        box-shadow: 0 0 5px $secundario;
    }
}

.container {
    margin-bottom: 5px;
}

button {
    position: relative;
    display: inline-block;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: 1rem;
    font-family: 'Roboto Mono', monospace;

    &.learn-more {
        width: 10rem;
        height: auto;

        .circle {
            @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
            position: relative;
            display: block;
            margin: 0;
            width: 3rem;
            height: 3rem;
            background: $black;
            border-radius: 1.625rem;

            .icon {
                @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                background: $white;

                &.arrow {
                    @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
                    left: 0.625rem;
                    width: 1.125rem;
                    height: 0.125rem;
                    background: none;

                    &::before {
                        position: absolute;
                        content: '';
                        top: -0.25rem;
                        right: 0.0625rem;
                        width: 0.625rem;
                        height: 0.625rem;
                        border-top: 0.125rem solid #fff;
                        border-right: 0.125rem solid #fff;
                        transform: rotate(45deg);
                    }
                }
            }
        }

        .button-text {
            @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0.75rem 0;
            margin: 0 0 0 1.85rem;
            color: $black;
            font-weight: 700;
            line-height: 1.6;
            text-align: center;
            text-transform: uppercase;
        }
    }

    &:hover {
        .circle {
            width: 100%;

            .icon {
                &.arrow {
                    background: $white;
                    transform: translate(1rem, 0);
                }
            }
        }

        .button-text {
            color: $white;
        }
    }
}

/*--finaliza section1--section2--*/

/*--secion 3 envios--*/
.section3 {
    margin-top: 20px;
    background-color: $secundario;
    height: 450px;
    width: 100%;
    border-radius: 10px;

    .envios {
        background-image: url(/fotos/carretera2.gif);
        background-position: top;
        background-size: contain;
        border-radius: 5px;

        .camionVenta {
            color: $secundario;
            font-size: 120px;
        }
    }

    .h4Envios {
        font: {
            size: 14px;
            family: 'Poppins', sans-serif;
        }

        text-align: center;
        color: $bg;
    }

    .parrafo-envios {
        color: $bg;
        text-align: center;
    }

    .tarjetas {
        display: flex;
        justify-content: center;

        i {
            color: $bg;
            font-size: 35px;
            text-align: center;
            padding: 0 10px;
        }
    }

    .banco-provincia {
        font-family: 'Poppins', sans-serif;
        color: $bg;
        text-align: center;
        font-size: 18px;
        margin-top: 8px;
    }
}